@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;

}

.container {
  max-width: 100%;
  background-color: #ffffff;
}
#logo {
  width: 95%;
  height: 60%;
  margin: auto;
  padding-left: 3px;
  padding-top: 20%;
}